DB_HOST=localhost
DB_PORT=5432
DB_NAME=your_database_name
DB_USER=your_postgres_user
DB_PASSWORD=your_postgres_password

JWT_SECRET=secret_key_at_least_32_chars_long
JWT_ISSUER=INKFLOW_Server
JWT_AUDIENCE=INKFLOW_Users

ASPNETCORE_ENVIRONMENT=Development